In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('out-2023-08-24.csv')

In [3]:
df.head

<bound method NDFrame.head of                                      pk          dt  s1        s2  up  dn  \
0      0d1b52eed04fc4c7185148928f55b81b  2015-01-01   2  0.510826   4   2
1      093ecd5e07ee1d8ddd7dc0b2f8fd458e  2015-01-01   9  2.302585   9   0
2      b3758228a2586385c0891939c486e17b  2015-01-01  -1 -0.182322   4   5
3      de92fa81e6035fbfccc9a12dc4350e2b  2015-01-01  -1 -0.182322   4   5
4      7d4c9f172dc95d11297bca04e88f3c11  2015-01-01  11  1.871802  12   1
...                                 ...         ...  ..       ...  ..  ..
23656  0bdf514c94f6a585ffc53af4ea120510  2015-12-31  -5 -0.233615  18  23
23657  e27648af1d05ac575927e98b58b366f3  2015-12-31   1  0.693147   1   0
23658  702318cd5af8b39483c5136f91798aef  2015-12-31   8  2.197225   8   0
23659  07829b5bc7afdd01c37d16608fbfd166  2015-12-31   8  1.098612  11   3
23660  59abbf456b43250f7a5169ecbf510ddc  2015-12-31   6  1.386294   7   1

                                                      tt  \
0      [기획] 최경환 "2015 구조개혁의 해.. 반드시 완수" 이주열 "경제체질 강화 ...
1                               채소값 고공행진… 상추 20일새 75% 뛰어
2                        새해 달라지는 부동산제도..중개수수료 뚝 ·청약조건 완화
3                         월세 시대 ..넘치는 물량, 전국 월셋값 1.7% 하락
4                         "돈줄 막혀 핀테크창업 꿈도 못꿔"..한국은 구석기시대
...                                                  ...
23656   [2016 세계경제 전망] 美 끌고 신흥국 밀고… 완만한 성장 속 ‘차이나 쇼크’ 복병
23657                          내 거 아닌 내 거 같은 ‘똑똑한 소비’ 뜬다
23658                        문송합니다, 화석선배 청년취업 한파, 내년도 꽁꽁
23659                   ‘자동차 구입대출’ 은행이 싼데…대출액 98%가 ‘캐피탈’
23660                    [앵커&리포트] 안 주고, 늦게 주고…실손보험 불만 폭증

                                                      ur
0            http://v.media.daum.net/v/20150101021109775
1      http://news.naver.com/main/read.nhn?mode=LSD&m...
2            http://v.media.daum.net/v/20150101032205362
3            http://v.media.daum.net/v/20150101033115422
4            http://v.media.daum.net/v/20150101040505585
...                                                  ...
23656  http://news.naver.com/main/hotissue/read.nhn?m...
23657  http://news.naver.com/main/read.nhn?mode=LSD&m...
23658  http://news.naver.com/main/read.nhn?mode=LSD&m...
23659  http://news.naver.com/main/read.nhn?mode=LSD&m...
23660  http://news.naver.com/main/read.nhn?mode=LSD&m...

[23661 rows x 8 columns]>

In [4]:
decr_df = df[df['s1'] < 0]

In [5]:
decr_df[:30]

,pk,dt,s1,s2,up,dn,tt,ur
2,b3758228a2586385c0891939c486e17b,2015-01-01,-1,-0.182322,4,5,새해 달라지는 부동산제도..중개수수료 뚝 ·청약조건 완화,http://v.media.daum.net/v/20150101032205362
3,de92fa81e6035fbfccc9a12dc4350e2b,2015-01-01,-1,-0.182322,4,5,"월세 시대 ..넘치는 물량, 전국 월셋값 1.7% 하락",http://v.media.daum.net/v/20150101033115422
11,f03493d01a463dc85b2eab78e585420b,2015-01-01,-2,-1.098612,0,2,작년 수출 5731억달러…2년 연속 무역 트리플크라운 달성(1보),http://news.naver.com/main/read.nhn?mode=LSD&m...
12,b6592cc3037bbd773f9e8cc3a70dcbc2,2015-01-01,-7,-0.875469,4,11,작년 무역흑자 474억달러…2년 연속 무역 트리플크라운(종합),http://news.naver.com/main/read.nhn?mode=LSD&m...
15,1d51ff3a547fc58c1618a2f95c21d062,2015-01-01,-2,-1.098612,0,2,"대학생·신혼부부, 행복주택에 6년간 거주 가능",http://news.naver.com/main/read.nhn?mode=LSD&m...
18,b5a726d83d922d75eb7fcde2a239807a,2015-01-01,-5,-1.252763,1,6,"""FTA효과·중기 약진으로 4년 연속 무역 1조달러 달성""(종합)",http://v.media.daum.net/v/20150101114508252
22,9b17de17279c251bf06e9f9a4369623c,2015-01-01,-2,-1.098612,0,2,지난달 구직급여 신규 신청자 7만9천명..7.6%↑,http://v.media.daum.net/v/20150101135708164
26,163b620329c7225464d46f6a0e28b9a5,2015-01-01,-2,-0.251314,6,8,올해 러시아 경제 어떻게 될까..세가지 시나리오,http://v.media.daum.net/v/20150101180406769
31,7efbd144cea41cdcf83bf461277d3377,2015-01-01,-16,-1.189584,6,22,엔저공습에 선방… 수출전선 낙관만 할 수 없다,http://news.naver.com/main/read.nhn?mode=LSD&m...
32,06b19c55e430106900fd2370e41a34e5,2015-01-01,-14,-1.011601,7,21,엔저공습에 선방.. 수출전선 낙관만 할 수 없다,http://v.media.daum.net/v/20150101204107437
34,1e8f43565281c1a641824d9bafaffb95,2015-01-02,-3,-1.386294,0,3,"무주택 사회초년생, 가구주 아니더라도 행복주택 입주",http://news.naver.com/main/read.nhn?mode=LSD&m...
35,cd8973ced7c56d5916a9d2d07e497ac2,2015-01-02,-9,-1.386294,2,11,L당 40원 ‘알뜰’… 기름값 끌어내리는 효자,http://news.naver.com/main/read.nhn?mode=LSD&m...
40,fbb5e87dce55767abcd032c801170b45,2015-01-02,-1,-0.133531,6,7,월급쟁이 가구 소득증가율 전체 평균 못 미쳐,http://news.naver.com/main/read.nhn?mode=LSD&m...
43,2d1fd88e51ac875fd650515369063d84,2015-01-02,-1,-0.693147,0,1,[커버스토리] 미래 유망직종 10가지,http://v.media.daum.net/v/20150102060305077
44,d3e4469aa1c978a85048d03991ac1641,2015-01-02,-16,-1.189584,6,22,경기지표 살얼음판 …소비 늘릴 저유가 효과 기대,http://news.naver.com/main/read.nhn?mode=LSD&m...
58,f9bcd5b143f5526c179fd6ffa3cd2879,2015-01-02,-1,-0.693147,0,1,"현대차, 한전부지에 105층짜리 건물 짓는다",http://v.media.daum.net/v/20150102131705982
61,a3112ab0fd670ef7a9517e262c4af104,2015-01-02,-1,-0.693147,0,1,"현대차그룹, 한전부지에 105층짜리 신사옥 짓는다(종합)",http://v.media.daum.net/v/20150102144309800
65,82b943a6846a01437525ce59409b710e,2015-01-02,-7,-1.504077,1,8,옐런 친정체제 구축…올 Fed는 ‘비둘기 스타일’,http://news.naver.com/main/read.nhn?mode=LSD&m...
67,a3632e50f1479c0a9a5236522984bc14,2015-01-02,-2,-1.098612,0,2,"주거안정 월세대출 실시, 취준생과 저소득층 희소식",http://v.media.daum.net/v/20150102161102563
79,22665f1c3cf990529bc64976ac28a866,2015-01-03,-1,-0.693147,0,1,글로벌 침체 속 MB 관련 회사는 잘 나가네,http://v.media.daum.net/v/20150103044405195
99,e25f022c1ac1de17cf16810d04e4b257,2015-01-03,-6,-0.916291,3,9,7%대 성장 지속할까…새해 중국 경제 5대 관전포인트,http://news.naver.com/main/read.nhn?mode=LSD&m...
107,865d488a08101e9f4f87ba09c87c1a5b,2015-01-03,-6,-1.386294,1,7,수출 호조 계속 ...첫 6천억 달러 돌파 예상,http://news.naver.com/main/read.nhn?mode=LSD&m...
131,dac2c4e3f8f3046cf8a5ae78dd130a19,2015-01-04,-10,-1.791759,1,11,"올 1분기 유통업 체감경기, 3분기만에 상승… 회복 기대감",http://news.naver.com/main/read.nhn?mode=LSD&m...
145,9b2e2a0e1ca9a93b5ecc7cf29e2e62e6,2015-01-04,-5,-1.252763,1,6,민물장어 풍어 값 40% 뚝…장어구이 싸졌다,http://news.naver.com/main/read.nhn?mode=LSD&m...
146,4ae1134c60aacf4d77126c7fe60c6d37,2015-01-04,-4,-1.098612,1,5,민물장어 풍어 값 40% 뚝..장어구이 싸졌다,http://v.media.daum.net/v/20150104210605134
147,c00a2daecb66094ca80951aa824c7b44,2015-01-04,-2,-0.405465,3,5,"與 ""담뱃값 물가연동제 도입…중점법안 아니다""",http://news.naver.com/main/read.nhn?mode=LSD&m...
155,c598c063bc94d079e9136f5b235f08c2,2015-01-05,-6,-1.098612,2,8,을미년 부동산시장 트렌드는 S·M·A·R·T,http://v.media.daum.net/v/20150105070306017
162,1fbd18de1eca2e7035a70c5e23ca4abb,2015-01-05,-1,-0.405465,1,2,"조양호 회장 직원에 사과 ""경계없는 소통위 설치""(상보)",http://news.naver.com/main/read.nhn?mode=LSD&m...
165,c72e210e8a009e73ab3e89f4f19917f6,2015-01-05,-1,-0.223144,3,4,주거용 오피스텔 중개 수수료 절반으로 낮춘다,http://news.naver.com/main/read.nhn?mode=LSD&m...
169,58987148f7b3500d23aee9dab3834225,2015-01-05,-1,-0.405465,1,2,"내일부터 주거용 오피스텔 복비, 절반 수준으로 인하",http://v.media.daum.net/v/20150105113304254

In [6]:
daily_agg = df.groupby('dt').agg({'s1':'sum', 's2':'sum'}).reset_index()

In [7]:
daily_agg

             dt   s1          s2
0    2015-01-01   61   18.565044
1    2015-01-02  143   24.532782
2    2015-01-03  190   36.228672
3    2015-01-04  251   44.257695
4    2015-01-05  257   51.050745
..          ...  ...         ...
360  2015-12-27  435   80.691684
361  2015-12-28  608  105.568843
362  2015-12-29  391   89.164393
363  2015-12-30  526  102.232905
364  2015-12-31   94   20.782649

[365 rows x 3 columns]

In [8]:
s1_dev = daily_agg['s1'].std()
s2_dev = daily_agg['s2'].std()

In [9]:
s1_dev

173.51759438813684

In [10]:
daily_agg['s1_norm'] = daily_agg['s1'].apply(lambda x: 1.0 if x > 3*s1_dev else x/(3*s1_dev))
daily_agg['s2_norm'] = daily_agg['s2'].apply(lambda x: 1.0 if x > 3*s2_dev else x/(3*s2_dev))

In [11]:
daily_agg

             dt   s1          s2   s1_norm   s2_norm
0    2015-01-01   61   18.565044  0.117183  0.187554
1    2015-01-02  143   24.532782  0.274708  0.247843
2    2015-01-03  190   36.228672  0.364997  0.366001
3    2015-01-04  251   44.257695  0.482180  0.447114
4    2015-01-05  257   51.050745  0.493706  0.515741
..          ...  ...         ...       ...       ...
360  2015-12-27  435   80.691684  0.835650  0.815189
361  2015-12-28  608  105.568843  1.000000  1.000000
362  2015-12-29  391   89.164393  0.751125  0.900784
363  2015-12-30  526  102.232905  1.000000  1.000000
364  2015-12-31   94   20.782649  0.180577  0.209957

[365 rows x 5 columns]

In [12]:
daily_agg['s1_ma10'] = daily_agg['s1_norm'].rolling(window=10).mean()
daily_agg['s1_ma30'] = daily_agg['s1_norm'].rolling(window=30).mean()
daily_agg['s1_ma60'] = daily_agg['s1_norm'].rolling(window=60).mean()

In [13]:
daily_agg['s2_ma10'] = daily_agg['s2_norm'].rolling(window=10).mean()
daily_agg['s2_ma30'] = daily_agg['s2_norm'].rolling(window=30).mean()
daily_agg['s2_ma60'] = daily_agg['s2_norm'].rolling(window=60).mean()

In [14]:
daily_agg

,dt,s1,s2,s1_norm,s2_norm,s1_ma10,s1_ma30,s1_ma60,s2_ma10,s2_ma30,s2_ma60
0,2015-01-01,61,18.565044,0.117183,0.187554,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,143,24.532782,0.274708,0.247843,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-03,190,36.228672,0.364997,0.366001,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-04,251,44.257695,0.482180,0.447114,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-05,257,51.050745,0.493706,0.515741,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
360,2015-12-27,435,80.691684,0.835650,0.815189,0.759127,0.680572,0.749964,0.725495,0.675964,0.746650
361,2015-12-28,608,105.568843,1.000000,1.000000,0.785360,0.699242,0.751006,0.753197,0.694966,0.748100
362,2015-12-29,391,89.164393,0.751125,0.900784,0.830888,0.721590,0.755328,0.821785,0.718808,0.752266
363,2015-12-30,526,102.232905,1.000000,1.000000,0.830888,0.725083,0.766328,0.821785,0.725151,0.762139
364,2015-12-31,94,20.782649,0.180577,0.209957,0.748946,0.709522,0.752671,0.742781,0.706452,0.748971

In [15]:
pd.set_option('display.min_rows', 70)

In [16]:
daily_agg

,dt,s1,s2,s1_norm,s2_norm,s1_ma10,s1_ma30,s1_ma60,s2_ma10,s2_ma30,s2_ma60
0,2015-01-01,61,18.565044,0.117183,0.187554,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,143,24.532782,0.274708,0.247843,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-03,190,36.228672,0.364997,0.366001,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-04,251,44.257695,0.482180,0.447114,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-05,257,51.050745,0.493706,0.515741,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-01-06,256,44.189311,0.491785,0.446423,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-01-07,263,46.843383,0.505232,0.473236,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-01-08,218,42.797119,0.418786,0.432358,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-01-09,162,36.312571,0.311208,0.366848,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-01-10,140,27.510670,0.268945,0.277927,0.372873,NaN,NaN,0.376104,NaN,NaN
10,2015-01-11,178,39.632053,0.341944,0.400383,0.395349,NaN,NaN,0.397387,NaN,NaN
11,2015-01-12,343,68.211434,0.658915,0.689107,0.433770,NaN,NaN,0.441514,NaN,NaN
12,2015-01-13,272,54.864191,0.522521,0.554266,0.449522,NaN,NaN,0.460340,NaN,NaN
13,2015-01-14,317,55.853530,0.608968,0.564261,0.462201,NaN,NaN,0.472055,NaN,NaN
14,2015-01-15,250,61.147382,0.480259,0.617742,0.460856,NaN,NaN,0.482255,NaN,NaN
15,2015-01-16,379,69.973816,0.728072,0.706911,0.484485,NaN,NaN,0.508304,NaN,NaN
16,2015-01-17,178,26.910488,0.341944,0.271863,0.468156,NaN,NaN,0.488167,NaN,NaN
17,2015-01-18,349,59.197807,0.670441,0.598046,0.493322,NaN,NaN,0.504735,NaN,NaN
18,2015-01-19,309,49.674429,0.593600,0.501836,0.521561,NaN,NaN,0.518234,NaN,NaN
19,2015-01-20,274,42.816378,0.526364,0.432553,0.547303,NaN,NaN,0.533697,NaN,NaN
20,2015-01-21,308,60.198217,0.591679,0.608153,0.572276,NaN,NaN,0.554474,NaN,NaN
21,2015-01-22,191,31.029533,0.366918,0.313476,0.543077,NaN,NaN,0.516911,NaN,NaN
22,2015-01-23,367,55.882933,0.705020,0.564558,0.561326,NaN,NaN,0.517940,NaN,NaN
23,2015-01-24,134,25.051746,0.257419,0.253086,0.526171,NaN,NaN,0.486822,NaN,NaN
24,2015-01-25,278,52.829492,0.534048,0.533710,0.531550,NaN,NaN,0.478419,NaN,NaN
25,2015-01-26,411,67.797002,0.789545,0.684920,0.537698,NaN,NaN,0.476220,NaN,NaN
26,2015-01-27,335,54.056779,0.643547,0.546109,0.567858,NaN,NaN,0.503645,NaN,NaN
27,2015-01-28,188,37.481402,0.361155,0.378656,0.536929,NaN,NaN,0.481706,NaN,NaN
28,2015-01-29,261,51.506557,0.501390,0.520345,0.527708,NaN,NaN,0.483557,NaN,NaN
29,2015-01-30,135,33.150690,0.259340,0.334905,0.501006,0.473727,NaN,0.473792,0.461198,NaN
...,...,...,...,...,...,...,...,...,...,...,...
335,2015-12-02,383,73.185780,0.735756,0.739360,0.687346,0.788327,0.792108,0.713928,0.783484,0.803427
336,2015-12-03,163,29.008289,0.313129,0.293057,0.625681,0.765915,0.780661,0.650837,0.766250,0.791645
337,2015-12-04,518,90.995751,0.995096,0.919285,0.650078,0.765752,0.780579,0.674880,0.768579,0.790300
338,2015-12-05,78,21.375779,0.149841,0.215949,0.603013,0.740650,0.767708,0.633696,0.746918,0.777232
339,2015-12-06,484,83.481674,0.929781,0.843374,0.607431,0.748462,0.766538,0.618228,0.747418,0.774622
340,2015-12-07,501,88.752211,0.962438,0.896620,0.614923,0.765495,0.773998,0.610375,0.761044,0.780302
341,2015-12-08,515,80.542710,0.989333,0.813684,0.669865,0.765140,0.781938,0.648748,0.754833,0.783880
342,2015-12-09,352,67.917165,0.676204,0.686134,0.729417,0.754347,0.787445,0.698809,0.744837,0.789653
343,2015-12-10,425,86.792777,0.816440,0.876825,0.721541,0.748228,0.784386,0.705521,0.740731,0.787600
344,2015-12-11,202,44.548583,0.388049,0.450052,0.695607,0.727830,0.777470,0.673434,0.722400,0.780949
345,2015-12-12,137,25.173885,0.263182,0.254319,0.648349,0.714062,0.765190,0.624930,0.706632,0.768521
346,2015-12-13,213,45.201806,0.409180,0.456652,0.657954,0.701768,0.762148,0.641289,0.697592,0.765692
347,2015-12-14,567,98.932290,1.000000,0.999464,0.658445,0.724663,0.766328,0.649307,0.719887,0.766619
348,2015-12-15,492,94.499372,0.945149,0.954681,0.737976,0.726648,0.765414,0.723181,0.724190,0.766074
349,2015-12-16,237,59.810604,0.455285,0.604237,0.690526,0.708491,0.770056,0.699267,0.710998,0.772150
350,2015-12-17,382,81.581835,0.733835,0.824181,0.667666,0.699619,0.765926,0.692023,0.705137,0.770668
351,2015-12-18,384,71.564368,0.737677,0.722980,0.642500,0.690875,0.761554,0.682953,0.695903,0.766051
352,2015-12-19,154,21.272773,0.295839,0.214908,0.604464,0.667403,0.750092,0.635830,0.669734,0.753262
353,2015-12-20,675,100.421353,1.000000,1.000000,0.622820,0.681078,0.751838,0.648148,0.684475,0.753262
354,2015-12-21,768,114.517401,1.000000,1.000000,0.684015,0.694112,0.751838,0.703142,0.698373,0.753262
355,2015-12-22,334,54.170619,0.641626,0.547259,0.721859,0.685852,0.751998,0.732436,0.690431,0.750141
356,2015-12-23,530,103.031420,1.000000,1.000000,0.780941,0.688192,0.763798,0.786771,0.692966,0.761434
357,2015-12-24,390,61.682952,0.749204,0.623153,0.755862,0.688128,0.763766,0.749140,0.691109,0.758879
358,2015-12-25,399,81.161006,0.766493,0.819930,0.737996,0.692995,0.759875,0.735665,0.697514,0.755878
359,2015-12-26,294,50.634579,0.564784,0.511536,0.748946,0.682301,0.752621,0.726395,0.681297,0.747737
360,2015-12-27,435,80.691684,0.835650,0.815189,0.759127,0.680572,0.749964,0.725495,0.675964,0.746650
361,2015-12-28,608,105.568843,1.000000,1.000000,0.785360,0.699242,0.751006,0.753197,0.694966,0.748100
362,2015-12-29,391,89.164393,0.751125,0.900784,0.830888,0.721590,0.755328,0.821785,0.718808,0.752266
363,2015-12-30,526,102.232905,1.000000,1.000000,0.830888,0.725083,0.766328,0.821785,0.725151,0.762139
364,2015-12-31,94,20.782649,0.180577,0.209957,0.748946,0.709522,0.752671,0.742781,0.706452,0.748971

In [17]:
daily_agg.to_csv("out-2023-08-26.csv", index=False)